body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    font-weight: 700;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}
.banner{
    margin-bottom: 50px;
}
.button{
    text-decoration:none;
    background-color: blueviolet;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 7px; 
}
#header{
    padding-left: 10px;
    border-left: 4px solid;
    border-color: rgb(245, 46, 86); 
    border-image-slice: 1;
}
.header-text-color{
    font-family: 'Yeseva One', cursive;
    color: fuchsia;
}
.flexable-box{
    display: flex;
    margin-bottom: 100px;
    margin: 5%;
    align-self: center;
}
.box1{
    width: 50%;
    padding-left: 5%;
    height:500px;
}
.box1 img{
    position: right;
    width: 40%;
}
.text-color{
    color: fuchsia;
    font-weight: 500;
}
.mission-header{
    text-align: center;
}
.mission{
    width: 360px;
    height: 374px;
    margin-left: 5%;
    padding-left: 25px;
    border-radius: 25px; 
}
#bg-color1{
    background-color: lightslategray ;
}
#bg-color2{
    background-color: rgb(134, 141, 134) ;
}
#bg-color3{
    background-color: rgb(231, 146, 167) ;
}
.mission img{
    height: 141px;
    width: 141px;
}
#project-dev{
    align-self: left;
}
#app{
    height: 542px;
    width: 338px;
}
#last{
    margin: 0 auto;
    text-align: left;
    width: 1000px;
    margin-bottom: 20px;
}
#contact-us{
    font-size: 35px;
    color: saddlebrown;
    font-family: 'Poppins', sans-serif;
    
}
.text-field{
    height: 40px;
    width: 600px;
    border-radius: 10px;
}
footer{
    background-color: black;
    height: 177px;
    padding-top: 50px;
}
#footer-size{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
}
footer p {
    text-align: center;
    color: white;
}

